$dark: #171821;
$gray: #23242C;
$light-gray: #A1A4BC;
$white: #f4f4f4;
$theme-color: #9068FE;
$red: #FF3636;
$border: 1px solid #2F3038;



@media screen and (max-width: 1362px) {

}



@media screen and (max-width: 1119px) {

}



@media screen and (max-width: 1023px) {
    .full-page .full-main main .messages {
        display: none;
        width: 100%;
        transform: translateX(-400px);
        transition: all .6s ease;
    }

    .full-page .full-main main.open-chats {
        position: relative;

        .messages {
            width: 60%;
            display: flex;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            background: $gray;
            transform: translateX(0);
        }

        .chat {
            position: relative;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(0,0,0,0.2);
            }
        }
    }
    .show-laptop {
        display: flex !important;
    }

    .full-page .full-main aside a:hover svg {
        color: $light-gray;
    }
}




@media screen and (max-width: 899px) {

}




@media screen and (max-width: 767px) {

    .full-page nav .nav-item .search-input {
        width: 100%;
    }

    .full-page .full-main main .chat .chat-main .send-message .send-more svg {
        width: 22px;
    }

    .full-page nav {
        gap: 6px;
    }

    .full-page nav .nav-item .profile-dropdown {
        display: none !important;
    }

    .full-page .full-main main.open-chats .messages {
        width: 80%;
    }

    .full-page .full-main main .chat .chat-main .messages-section .message-person .message, .full-page .full-main main .chat .chat-main .messages-section .message-me .message {
        width: 90%;
    }
}




@media screen and (max-width: 599px) {

}




@media screen and (max-width: 479px) {

}